/* Ajoutez ce style à votre fichier style.css */
@import url('https://v1.fontapi.ir/css/SFProDisplay');

*{
    font-family: 'SF Pro Display', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F5F5F7;
    color: #1d1d1f;

}

/* Ajoutez ces styles pour rendre la barre de navigation fixe en haut */
.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #F5F5F7; /* Ajoutez la couleur d'arrière-plan souhaitée */
  }
  
/* Styles pour le header */
header {
  background-color: #F5F5F7; /* Couleur d'arrière-plan du header */
  color: #1d1d1f;
  height: 55px;
  
}

/* Styles pour le logo et la navigation */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

/* Styles pour le menu déroulant sur les petits écrans */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  height: 3px;
  width: 25px;
  background-color: #363636;
  margin: 6px 0;
  transition: 0.4s;
}

/* Styles pour la liste de navigation */
.nav-list {
  display: flex;
}

.nav-list ul {
  list-style: none;
  display: flex;
  margin: 0;
}

.nav-list li {
  margin-right: 20px;
}

#logo-container {
  display: flex;
  align-items: center; /* Centrer verticalement */
}
#logo{
  height: 40px;
  width: 30px;
  padding-bottom: 10px;
 
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;

}

body.fixed-header-padding {
    padding-top: 55px; /* Assurez-vous d'ajuster cette valeur en fonction de la hauteur de votre barre de navigation */
  }

.container {
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.faq-question {
  margin-bottom: 20px;
}

.faq-question h3 {
  margin-bottom: 10px;
}

.faq-question p {
  text-align: left;
}

header {
    background-color: #F5F5F7;
    color: #1d1d1f;
    height: 55px;
    transition: 0.3s ease-in-out;
  }